*{
    padding: 0;
    margin: 0;
}


    
html, body {
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;

}

nav{
    position: fixed;
    height: 50px;
    top: 0;
    left:0;
    right: 0;
    background: rgb(66, 49, 124,0.75);
    z-index: 200;


}

h1{
    text-align: center;
    line-height: 150px;
    color: rgb(255, 255, 255);
    padding-top: 0px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    font-size: 150px;
}

h1:hover{
    animation: girillo 3s ;

}

nav li{
    display: inline-block;
    margin:  10px 40px 0px 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

nav li:hover{
    opacity: 75%;
    
    
}
.p2 li{
    height: 300px;
    width: 270px;
    border-radius: 20px;
    background: rgb(76,59,181);
background: linear-gradient(0deg, rgb(74, 61, 163) 0%, rgb(196, 193, 255) 64%);
    float: left;
    margin: 20px;
    text-align: center;
    list-style: none;
    line-height: 4.5;
    font-size: 30px;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(69, 67, 127);
    
}

.p2 img {
    width: 100px;
    height: 90px;
    position: relative;
    float: left;
    border-radius: 15px;
    bottom:-15px;
    right: -10px;
}
.scara img{
    width: 140px;
    height: 140px;
    position: relative;
    top: 25px;
    left: 130px;
    opacity: 50%;
}

.p2 li:hover{
    opacity: 75%;
    animation: meneo 0.15s ease-in infinite;
}


.p2 ul{
    width: 1360px;
    margin: 0 auto;
    padding-top: 50px;
}



.pagina{
    position: relative;
    height: 100%;

}
.p1{
    background: rgb(196, 193, 255);
    background-image: url(../img/scara08.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 500px 50px;
}
.p2{
    background: rgb(109, 90, 168);
    background-image: url(../img/scara08.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 50px 770px;
}
.p3{
    background: rgb(196, 193, 255);
}


@keyframes meneo {
    0% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
@keyframes girillo {
    0% {
        transform: translate(-50%,-50%) rotateZ(360deg);
    }
    100% {
        transform: translate(-50%,-50%) rotateZ(0deg);
    }
}